.page-header {
			background-color: #fff
}
.content {
	margin-top: 65px;
}

.container{
	padding: 0px 15px;
	margin: 0 auto;
}

.carousel{
	height: 500px;
	overflow: hidden;
	position: relative;
}
.image_reel{
	position: absolute;
	left: 0px;
	top: 0px;
}
.image_reel img{
	float: left;
	width: auto;
	height: 100%;
}
.paging{
	position: absolute;
	bottom: 20px;
	right: 30px;
	display: none;
}
.paging a{
	text-decoration: none;
	color: #fff;
	padding: 3px 8px;
}
.paging a:hover{
	background: #920000;
	font-weight: bold;
}
.paging a.active{
	background: #920000;
	font-weight: bold;
}

.showtile {
	margin-top: 10px;
}
.logo {
	width: 165px;
	height: 165px;
	margin-top: 40px;
}
.shopTop {
	height: 250px;
	padding-top: 0px;
}
.topHead {
	margin: 0px 0px 10px 0px;
}

.tilename {
	margin-top: 10px;
}

.news {
	margin-top: 10px;
	height: 100%;
}

.web_info .panel-heading {
	font-size: 20px;
}

.web_infonumber {
	width: 10%;
}

.web_infotitle {
	width: :65%;
	 word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.web_infotime {
	width: 25%;
}

.company_info {
	height: 100%;
}

.company_info .panel-heading {
	font-size: 20px;
}

.footer {
	margin-top: 10px;
}

.footer_head {
	height: 150px;
	background-color: #f4f4f4;
}

.footer_buttom {
	height: 100%;
	margin-top: 10px;
	background-color: #202020;
}

.buttom {
	margin-top: 10px;
}

.buttom_list h4 {
	font-size: 18px;
	color: #A8A8A8;
	height: 25px;
}

.buttom_list ul {
	list-style: none;
}

.buttom_list li {
	float: left;
	width: 210px;
}

.acolor {
	color: #ffffff;
}

.acolor a:link {
	color: #ffffff;
	text-decoration: none;
}
.acolor a:visited {
	color: #ffffff;
	text-decoration: none;
}
.acolor a:hover {
	color: #FF7F24;
	text-decoration: none;
}

.tilecode {
	max-width: 120px;
	max-height: 120px;
	display: block;
	margin: 0 auto;
}

.copyright {
	vertical-align: bottom;
}

.code {
	align:center;
}

.codep {
	color: #A8A8A8;
	text-align: center;
}

.panel{
	height: 400px;
}

.acopyright a:link {
	color: #ffffff;
	text-decoration: none;
}
.acopyright a:visited {
	color: #ffffff;
	text-decoration: none;
}
.acopyright a:hover {
	color: #ffffff;
	text-decoration: underline;
}